.size-lg {
  --fz: 24px;
  --fw: 600;
  --lh: 28px;
}

.size-sm {
  --fz: 16px;
  --fw: 400;
  --lh: 24px;
}

.text {
  width: 100%;
  color: var(--text-default);

  font-size: var(--fz);
  font-weight: var(--fw);
  line-height: var(--lh);

  letter-spacing: 0;
}

@media (max-width: 600px) {
  .size-lg {
    --fz: 20px;
    --lh: 24px;
  }
}
