.size-lg {
  --fz: clamp(20px, 24px, 24px);
  --fw: 600;
  --lh: clamp(24px, 28px, 28px)
}

.size-sm {
  --fz: 16px;
  --fw: 400;
  --lh: 24px
}

.title {
  width: 100%;
  color: var(--text-default);

  font-size: var(--fz);
  font-weight: var(--fw);
  line-height: var(--lh);
  
  letter-spacing: 0;
  text-wrap: balance;
}
