:root {
  --primary: #ff4c5c;
  --text-default: #0b002e;
  --text-success: #3ab15e;
  --text-light: rgba(11, 0, 46, 0.639);
  --font-color-text: #222b55;
  --bdr-focus: #6666ff;
  --bg-app: #f3f2f7;
  --bg-content: #ffffff;

  --radius-button-default: 12px;
  --radius-block: 12px;

  --padding-default: 4px;

  --btn-neutral-bg: rgba(11, 0, 46, 0.051);

  --btn-bg: var(--primary);
  --btn-text: #fff;
  --btn-bg-hover: rgb(237 57 72);
  --btn-bg-active: #d6343f;
  --btn-bg-focus: #d6343f;

  --link-color: var(--text-light);
  --link-color-hover: rgb(11 0 46);

  --font-sans: "Poppins", Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

* {
  font-family: var(--font-sans);
}

body,
html {
  background-color: var(--bg-app);
}

body,
html,
#root,
.app {
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .app {
    padding: 20px;
  }
}
